@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-image: url("../src/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#fff 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}
.loaderOne {
    width: 120px;
    height: 20px;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #f2f2f2;
    background-size:300% 100%;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {
    0% {background-position: right}
  }